/* General Styling */
body {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #00375e;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

a{
    color: #00375e;
    text-decoration: none;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0%;
}

h3 {
    background-color: #00375e;
    color: white;
    padding: 1rem;
    font-weight: bolder;
}

/* Header */
header{
    height: auto;
    width: 100%;
    border-bottom: 1px solid #00375e;
}

header img{
    height: 5em;
    padding-left: 0.5eem;
}

header p{
    display: inline-block;
    padding: 20px 10px;
}

nav{
   text-align: right;
   flex-grow: 1;
   padding-right: 1rem; 
}

/* Welcome */

.welcome {
    width: 100%;
    height: 300px;
    background-image: url(./img/welcome.jpeg);
    background-position: center bottom;
}

/* Events */
#events {
    padding-top: 5rem;
}

#events img {
    padding-top: 2rem;
    width: 20rem;
}

/* Trips */
#trips {
    padding-top: 5rem;
}

#trips img {
    padding-top: 2rem;
    width: 20rem;
}

/* Footer */
footer {
    margin-top: 2rem;
    color: white;
    background-color: #00375e;
}